header{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 40px

}
nav{
    display: flex;
    justify-content: space-between;
    width: 800px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}
.logo img{
    width: 40%;
}
header a{
    color: rgb(4, 14, 155);
    text-decoration: none;

}
.Menu{
    display: grid;
    gap: 20px;
    grid-template-rows: 200px 300px 200px;
    grid-template-columns: 200px 300px 200px;
}
.Menu img{
    width: 100%;
    height: 100%;
}
.americano{
    grid-column:2/3;
    grid-row: 1/2;
}
.shanwis{
    grid-column: 3/4;
    grid-row: 1/2;
}
.te{
    grid-column:1/2 ;
    grid-row:/2;
}
.capu{
    grid-column:3/4 ;
    grid-row: ;
}
.zarzamora{
    grid-column: ;
    grid-row: ;
}
.moka{
    grid-column: ;
    grid-row: ;
}
.logo{
    width: 1000px;
}
